%h1 Edit member

= error_messages_for @member

= form_for(@member, :action => url(:member, @member)) do
  = partial :form
  %p
    = submit "Update"

= link_to 'Show', url(:member, @member)
|
= link_to 'Back', url(:members)
