%h1
  ="Member #{@member.full_name}"
  = link_to 'Edit',  url(:edit_member,  @member) if admin?

%ul
  %li 
    Login : 
    = @member.login
  %li
    Name :
    = @member.full_name
  %li
    Function :
    = @member.function.name
  %li 
    Subscription date :
    = @member.subscription_on
  


= link_to 'Back', url(:members)
